<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>

    <p>Dear <%= @employee.name %>, you have been matched for the Mystery Lunch! See the people/person below:</p>

    <% @employees.each do |employee| %>
    <span><%= employee.name %>, </span>
    <% end %>

    <p> You can connect to the platform on:
        <a href="https://mystery.cafrecode.co.ke"> https://mystery.cafrecode.co.ke</a>
    </p>

</body>

</html>