<% content_for :home do %>
active
<% end %>

<% content_for :main do %>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/menu' %>
    <% end %>

    <section class="page-users-view">

        <h2>Current Mystery Lunch Partners</h2>

        <% current_partner_groups.each_with_index do |matches, index| %>

        <!-- The query returns the first result as the lunch, the rest as the employee lunches -->
        <% flat = matches.flatten() %>
        <% flat.shift %>
        <%= render 'pair', employee_lunches: flat, index: index %>

        <% end %>

        <br>
        <h2>Previous Mystery Lunch Partners</h2>

        <% previous_partner_groups.each_with_index do |matches, index| %>

        <!-- The query returns the first result as the lunch, the rest as the employee lunches -->
        <% flat = matches.flatten() %>
        <% flat.shift %>
        <%= render 'pair', employee_lunches: flat, index: index %>

        <% end %>

    </section>